<%= stylesheet_link_tag "numbers", media: "print" %>
<h2 class="app-name">John DickerHoff Numbers</h2>
<%= link_to 'New Number', new_number_path, class: 'btn btn-success new-number' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time &amp; Date</th>
      <th>Blood Sugar</th>
      <th>Insulin Dose</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @numbers.each do |number| %>
      <tr>
        <td><%= link_to number.created_at.strftime("%B %e, %Y, %I:%M %P"), number %></td>
        <td><%= number.name %></td>
        <td><%= number.insulin_dose %></td>
        <td><%= number.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<style type="text/css">
  a.btn.btn-success.new-number {
    color: #fff;
  }

</style>