<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Number for <%= @number.created_at.strftime("%B %e, %Y, %r") %></h3>
	</div>
	<div class="panel-body">
		<p>
		<strong>Time &amp; Date</strong>
		<%= @number.created_at.strftime("%B %e, %Y, %r") %>
		</p>
		<p>
		  <strong>Name:</strong>
		  <%= @number.name %>
		</p>

		<p>
		  <strong>Insulin Dose:</strong>
		  <%= @number.insulin_dose%>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @number.description %>
		</p>
	</div>
	<div class="panel-footer">
		<%= link_to 'Edit', edit_number_path(@number), class: 'btn btn-info' %> |
		<%= link_to 'Back', numbers_path, class: 'btn btn-primary' %>
	</div>
</div>